<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    
    <main>
        <h2>EJERCICIO DE APAREAMIENTO</h2>
        
        <div class="container">
            <div class="left-container" id="left-container">
                <% for (let i = 1; i <= 5; i++) { %>
                    <div class="draggable" data-id="<%= i %>">Elemento <%= i %></div>
                <% } %>
            </div>
            
            <div class="right-container" id="right-container">
                <% for (let i = 1; i <= 5; i++) { %>
                    <div class="droppable" data-id="<%= i %>">Destino <%= i %></div>
                <% } %>
            </div>
        </div>
    </main>
    
    <script src="../../../js/apareamiento.js"></script>
    <%- include('../partials/footer')%>
</body>
</html>
